@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 4px;
  --popper-theme-padding: 5px 10px;
}

#__nuxt {
  min-height: 100vh;
  background: rgb(246, 246, 246);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetiva Neue,
    Helvetica, Arial, sans-serif;
}
